<% if @users.blank? %>
  <p>There are not any users currently in the system.</p>
<% else %>
  <p>These are the current users in our system</p>
  <ul id="users">
    <% @users.each do |c| %>
      <li>| <%=c.name%> | <%=c.email%> |
        <%= link_to "show", {:action => 'show', :id => c.id} %> |</li>
    <% end %>
  </ul>
<% end %>
<p>
  <%= link_to "Add new User", {:action => 'new' }%>
</p>