


<div align="center" class = "about_page_div1">

<div class = "about_page_text_div1-1"> 
    <div class = 'title'><h1 class = "about_page_text_div1-1_header"> This Book Library is for School Project only</h1> </div>
    <h2> <p class = 'about_page_text_div1-1_text'> This website does catalogue books into a proper form of order.  </p> </h2>
</div>
</div>